body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #555
}

h3 {
    margin: 4px 0
}

.all {
    width: 900px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box
}

.form-label {
    padding: 5px 0
}

.form-input {
    position: relative
}

.form-input input[type="text"],
.form-input input[type="number"],
.form-input input[type="password"],
.form-input input[type="ipaddress"],
.form-input select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #CCC;
    background-color: #FFF;
    margin-bottom: 2px
}

.form-input input[type="ipaddress"].invalid-ip {
    border: 1px solid #C00
}

.form-input input[type="text"]:focus,
.form-input input[type="number"]:focus,
.form-input input[type="password"]:focus,
.form-input input[type="ipaddress"]:focus,
.form-input select:focus {
    outline: none;
    transition:border 0.3s ease-in-out;
}

.form-input input[type="text"]:focus-visible, .form-input input[type="number"]:focus-visible, .form-input input[type="password"]:focus-visible, .form-input select:focus-visible
{
    outline: none;
    border: 1px solid #4d80ce;
}

.btn {
    min-width: 60px;
    box-sizing: border-box;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #bdbcbc;
    background-color: #c7c6c6;
    color: #333;
    margin: 8px 0
}
.btn-100{
    width: 100%;
}

.btn-success {
    color: #FFF;
    border: 1px solid #46992d;
    background-color: #419129
}

.btn-primary {
    color: #FFF;
    border: 1px solid #2d5899;
    background-color: #3464ac
}

.btn-warning {
    color: #212529;
    border: 1px solid #ffc107;
    background-color: #ffc107
}

.btn-danger {
    color: #FFF;
    border: 1px solid #dc3545;
    background-color: #dc3545
}

.row {
    display: flex;
    gap: 10px
}

.column {
    flex: 50%;
    justify-content: space-between;
}
.pad-wrapper{
    flex: 50%;
    justify-content: space-between;
    position: relative;
}
.pad-wrapper::before
{
    content: attr(data-ch);
    position: absolute;
    left: 4px;
    top: 10px;
    font-size: 10px;
}
.pad
{
    height: 60px;
    font-size: 14px;
    background-color: #ffb464;
    border: 1px solid #df994e;
    min-width: 20px;
}
.pad-wrapper .editor{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 0px;
}
a.ctrl{
    display: block;
    width: 20px;
    height: 20px;
    color: #333;
}
a.ctrl::before{
    content: '\270E';
    color: #333;
    display: block;
    position: absolute;
    font-size: 15px;
    transform: rotate(90deg);
}

.popup-shadow {
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
    position: absolute;             
    background-color: rgba(0,0,0,0.4);
    color: #aaaaaa;
    display: none;
}

.popup {
    position: absolute;
    color: #000000;
    background-color: #ffffff;
    width: 480px;
    left: 50%;
    margin-left: -240px;
    min-height: 100px;
    top: 20px;
    border: 1px solid rgb(124, 153, 193);
    display: none;
}

@media screen and (max-width:520px) {
    .popup {
    width: calc(100vw - 40px);
    left: 0%;
    margin-left: 20px;
    }
}
.popup-header{
    padding:4px 12px;
    min-height:25px;
    line-height:25px;
    background-color:#3464ac;
    color:white;
}
.popup-body
{
    padding:8px 12px;
    min-height:25px;
    background-color: #ffffff;
}
.popup-footer
{
    padding:6px 12px;
    min-height:25px;
    background-color: #eeeeee;
    text-align: end;
}

.popup-footer .btn{
    margin: 4px 0;
}

.two-side-table{
    width: 100%;
}
.two-side-table td
{
    padding: 2px 0;
}
.two-side-table tr > td:nth-child(1)
{
    width: 30%;
}
